.paper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
}

.dialogTitle {
  align-self: stretch;

  color: var(--text-primary, rgba(0, 0, 0, 0.87));
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* typography/h6 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.15px;
}

.inputGroup {
  display: flex;
  padding: var(--none, 0px);
  align-items: flex-start;
  gap: var(--paddings-pad-1, 8px);
  align-self: stretch;
}

.documentNameInput {
  display: flex;
  height: 56px;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 0;
}

.documentTypeSelect {
  display: flex;
  padding: var(--none, 0px) 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--none, 0px);
  align-self: stretch;
  flex: 1 0 0;
}
