.tableHeaderText {
  color: var(--text-primary, rgba(0, 0, 0, 0.87));
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* table/header */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.17px;
}

.tableRowText {
    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    font-feature-settings:
      'clig' off,
      'liga' off;
  
    /* table/header */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.17px;
  }