{"openapi":"3.0.1","info":{"title":"Document Flow API","version":"1.0.0"},"servers":[{"url":"https://api.docflow.fokidoki.su","description":"Generated server url"}],"paths":{"/v1/doctypes/{docTypeId}/attributes/{docAttributeId}":{"put":{"tags":["Тип документа"],"summary":"Добавить атрибут к типу","operationId":"addAttributeToType","parameters":[{"name":"docTypeId","in":"path","description":"ID типа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"docAttributeId","in":"path","description":"ID атрибута","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocTypeDto"}}}}},"security":[{"JWT":[]}]}},"/v1/org":{"get":{"tags":["Организации"],"summary":"Получить все организации","operationId":"getAllOrgs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrgDto"}}}}}},"security":[{"JWT":[]}]},"post":{"tags":["Организации"],"summary":"Добавить организацию","operationId":"createOrg","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgCreateRequestDto"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrgDto"}}}}},"security":[{"JWT":[]}]}},"/v1/document/{documentId}/recipient/{recipientId}/new-process":{"post":{"tags":["Бизнес процесс"],"summary":"Создать запрос на согласование","operationId":"createNewProcess","parameters":[{"name":"documentId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"recipientId","in":"path","description":"ID получателя","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocProcessDto"}}}}},"security":[{"JWT":[]}]}},"/v1/doctypes":{"get":{"tags":["Тип документа"],"summary":"Получить все типы","description":"Все типы с пагинацией и сортировкой","operationId":"getAllDocTypes","parameters":[{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","description":"Сортировка","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocTypeDto"}}}}}},"security":[{"JWT":[]}]},"post":{"tags":["Тип документа"],"summary":"Создать тип","operationId":"createDocType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocTypeCreateDto"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocTypeDto"}}}}},"security":[{"JWT":[]}]}},"/v1/docattributes":{"get":{"tags":["Атрибуты документа"],"summary":"Получить все атрибуты","description":"Все атрибуты с пагинацией и сортировкой","operationId":"getAllDocTypes_1","parameters":[{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","description":"Сортировка","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocAttributeDto"}}}}}},"security":[{"JWT":[]}]},"post":{"tags":["Атрибуты документа"],"summary":"Создать атрибут","operationId":"createAttribute","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocAttributeCreateDto"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocAttributeDto"}}}}},"security":[{"JWT":[]}]}},"/document":{"get":{"tags":["Документы"],"summary":"Получить документы по своей организации","operationId":"findDocuments","parameters":[{"name":"text","in":"query","description":"Имя документа","required":false,"schema":{"type":"string"}},{"name":"rangeStart","in":"query","description":"Начало интервала","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rangeEnd","in":"query","description":"Конец интервала","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"creatorId","in":"query","description":"ID создателя документа","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"from","in":"query","description":"Номер страницы","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Количество элементов на странице","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"typeId","in":"query","description":"ID типа документа","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"attributeId","in":"query","description":"ID атрибута документа","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"attributeValue","in":"query","description":"Значение атрибута","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}},"security":[{"JWT":[]}]},"post":{"tags":["Документы"],"summary":"Добавить новый документ","operationId":"createDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentCreateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}},"security":[{"JWT":[]}]}},"/auth/login":{"post":{"tags":["Авторизация"],"summary":"Авторизация","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsDto"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/users":{"get":{"tags":["Пользователи"],"summary":"Получить всех пользователей","operationId":"getAllUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserReplyDto"}}}}}},"security":[{"JWT":[]}]},"post":{"tags":["Пользователи"],"summary":"Добавить пользователя","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreateDto"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserReplyDto"}}}}},"security":[{"JWT":[]}]}},"/v1/org/{orgId}":{"get":{"tags":["Организации"],"summary":"Получить организацию по Id","operationId":"getOrg","parameters":[{"name":"orgId","in":"path","description":"ID организации","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrgDto"}}}}},"security":[{"JWT":[]}]},"delete":{"tags":["Организации"],"summary":"Удалить организацию","operationId":"deleteOrg","parameters":[{"name":"orgId","in":"path","description":"ID организации","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrgDto"}}}}},"security":[{"JWT":[]}]},"patch":{"tags":["Организации"],"summary":"Изменить организацию","operationId":"updateOrg","parameters":[{"name":"orgId","in":"path","description":"ID организации","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrgDto"}}}}},"security":[{"JWT":[]}]}},"/v1/document/processes/{processId}/send-to-correction":{"patch":{"tags":["Бизнес процесс"],"summary":"Отправить документ на доработку","operationId":"sendToCorrection","parameters":[{"name":"processId","in":"path","description":"ID процесса","required":true},{"name":"comment","in":"query","description":"Комментарий"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocProcessDto"}}}}},"security":[{"JWT":[]}]}},"/v1/document/processes/{processId}/send-to-approve":{"patch":{"tags":["Бизнес процесс"],"summary":"Отправить документ на согласование","operationId":"sendToApprove","parameters":[{"name":"processId","in":"path","description":"ID процесса","required":true},{"name":"comment","in":"query","description":"Комментарий"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocProcessDto"}}}}},"security":[{"JWT":[]}]}},"/v1/document/processes/{processId}/reject":{"patch":{"tags":["Бизнес процесс"],"summary":"Отклонить документ","operationId":"reject","parameters":[{"name":"processId","in":"path","description":"ID процесса","required":true},{"name":"comment","in":"query","description":"Комментарий"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocProcessDto"}}}}},"security":[{"JWT":[]}]}},"/v1/document/processes/{processId}/approve":{"patch":{"tags":["Бизнес процесс"],"summary":"Согласовать документ","operationId":"approve","parameters":[{"name":"processId","in":"path","description":"ID процесса","required":true},{"name":"comment","in":"query","description":"Комментарий"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocProcessDto"}}}}},"security":[{"JWT":[]}]}},"/v1/doctypes/{docTypeId}":{"get":{"tags":["Тип документа"],"summary":"Получить тип по ID","operationId":"getDocType","parameters":[{"name":"docTypeId","in":"path","description":"ID типа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocTypeDto"}}}}},"security":[{"JWT":[]}]},"delete":{"tags":["Тип документа"],"summary":"Удалить тип","operationId":"deleteDocType","parameters":[{"name":"docTypeId","in":"path","description":"ID типа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"JWT":[]}]},"patch":{"tags":["Тип документа"],"summary":"Изменить тип","operationId":"updateDocType","parameters":[{"name":"docTypeId","in":"path","description":"ID типа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocTypeUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocTypeDto"}}}}},"security":[{"JWT":[]}]}},"/v1/docattributes/{docAttributeId}":{"get":{"tags":["Атрибуты документа"],"summary":"Получить атрибут по ID","operationId":"getAttribute","parameters":[{"name":"docAttributeId","in":"path","description":"ID атрибута","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocAttributeDto"}}}}},"security":[{"JWT":[]}]},"delete":{"tags":["Атрибуты документа"],"summary":"Удалить атрибут","operationId":"deleteAttribute","parameters":[{"name":"docAttributeId","in":"path","description":"ID атрибута","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"JWT":[]}]},"patch":{"tags":["Атрибуты документа"],"summary":"Изменить атрибут","operationId":"updateAttribute","parameters":[{"name":"docAttributeId","in":"path","description":"ID атрибута","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocAttributeUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocAttributeDto"}}}}},"security":[{"JWT":[]}]}},"/document/{documentId}":{"get":{"tags":["Документы"],"summary":"Получить документ по ID","operationId":"getDocumentById","parameters":[{"name":"documentId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}},"security":[{"JWT":[]}]},"delete":{"tags":["Документы"],"summary":"Удалить документ","operationId":"deleteDocument","parameters":[{"name":"documentId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"JWT":[]}]},"patch":{"tags":["Документы"],"summary":"Изменить документ","operationId":"updateDocument","parameters":[{"name":"documentId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUpdateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}},"security":[{"JWT":[]}]}},"/admin/users/{userId}":{"get":{"tags":["Пользователи"],"summary":"Получить пользователя по ID","operationId":"getUser","parameters":[{"name":"userId","in":"path","description":"ID пользователя","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserReplyDto"}}}}},"security":[{"JWT":[]}]},"delete":{"tags":["Пользователи"],"summary":"Удалить пользователя","operationId":"deleteUser","parameters":[{"name":"userId","in":"path","description":"ID пользователя","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"JWT":[]}]},"patch":{"tags":["Пользователи"],"summary":"Изменить пользователя","operationId":"updateUser","parameters":[{"name":"userId","in":"path","description":"ID пользователя","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserReplyDto"}}}}},"security":[{"JWT":[]}]}},"/admin/users/password/{userId}":{"patch":{"tags":["Пользователи"],"summary":"Установить пароль для пользователя","operationId":"setUserPassword","parameters":[{"name":"password","in":"query","description":"Пароль пользователя","required":true,"schema":{"maxLength":2147483647,"minLength":8,"type":"string"}},{"name":"userId","in":"path","description":"ID пользователя","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"JWT":[]}]}},"/v1/org/name/{name}":{"get":{"tags":["Организации"],"summary":"Поиск организации по подстроке в имени","operationId":"getOrgsByNameLike","parameters":[{"name":"name","in":"path","description":"Подстрока в имени","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrgDto"}}}}}},"security":[{"JWT":[]}]}},"/v1/document/{documentId}/processes":{"get":{"tags":["Бизнес процесс"],"summary":"Посмотреть все процессы по документу","operationId":"findProcessByDocumentId","parameters":[{"name":"documentId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocProcessDto"}}}}}},"security":[{"JWT":[]}]}},"/v1/document/processes/{processId}":{"get":{"tags":["Бизнес процесс"],"summary":"Получить процесс по ID","operationId":"findProcessById","parameters":[{"name":"processId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocProcessDto"}}}}},"security":[{"JWT":[]}]},"delete":{"tags":["Бизнес процесс"],"summary":"Удалить процесс","operationId":"deleteProcess","parameters":[{"name":"processId","in":"path","description":"ID процесса","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"JWT":[]}]}},"/v1/document/processes/outgoing":{"get":{"tags":["Бизнес процесс"],"summary":"Получить все процессы, где текущий пользователь является отправителем","operationId":"findOutgoingProcesses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocProcessDto"}}}}}},"security":[{"JWT":[]}]}},"/v1/document/processes/incoming":{"get":{"tags":["Бизнес процесс"],"summary":"Получить все процессы, где текущий пользователь является получателем","operationId":"findIncomingProcesses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocProcessDto"}}}}}},"security":[{"JWT":[]}]}},"/v1/doctypes/name/{name}":{"get":{"tags":["Тип документа"],"summary":"Поиск типа по подстроке в имени","operationId":"getDocTypesByNameLike","parameters":[{"name":"name","in":"path","description":"Подстрока имени","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocTypeDto"}}}}}},"security":[{"JWT":[]}]}},"/v1/docattributes/name/{name}":{"get":{"tags":["Атрибуты документа"],"summary":"Поиск атрибута по подстроке в имени","operationId":"getDocAttributesByNameLike","parameters":[{"name":"name","in":"path","description":"Подстрока имени","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocAttributeDto"}}}}}},"security":[{"JWT":[]}]}},"/statistic/users/count":{"get":{"tags":["Статистика"],"summary":"Получить кол-во пользователей","operationId":"countUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CountUsersDto"}}}}},"security":[{"JWT":[]}]}},"/statistic/userRating/{orgId}":{"get":{"tags":["Статистика"],"summary":"Получить рейтинг активных пользователей по организации","operationId":"getRating","parameters":[{"name":"orgId","in":"path","description":"ID организации","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRatingDto"}}}}}},"security":[{"JWT":[]}]}},"/statistic/organisation/count":{"get":{"tags":["Статистика"],"summary":"Получить кол-во организаций","operationId":"countOrg","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CountOrgDto"}}}}},"security":[{"JWT":[]}]}},"/statistic/getActiveOrganization":{"get":{"tags":["Статистика"],"summary":"Получить список самых активных организаций","operationId":"getActiveOrganization","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrgDto"}}}}}},"security":[{"JWT":[]}]}},"/statistic/documents/getCount":{"get":{"tags":["Статистика"],"summary":"Получить общее кол-во документов","operationId":"getCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocStatisticDTO"}}}}},"security":[{"JWT":[]}]}},"/statistic/documents/getCountByStatus/{status}":{"get":{"tags":["Статистика"],"summary":"Получить кол-во документов со статусом","operationId":"getCountByStatus","parameters":[{"name":"status","in":"path","description":"Наименование статуса","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocStatisticDTO"}}}}},"security":[{"JWT":[]}]}},"/document/{documentId}/changes":{"get":{"tags":["Документы"],"summary":"Получить историю изменений по ID","operationId":"findDocChangesByDocumentId","parameters":[{"name":"documentId","in":"path","description":"ID документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentChangesDto"}}}}}},"security":[{"JWT":[]}]}},"/document/changesById/{documentChangesId}":{"get":{"tags":["Документы"],"summary":"Получить изменения документа по ID","operationId":"findDocChangesById","parameters":[{"name":"documentChangesId","in":"path","description":"ID изменения документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentChangesDto"}}}}},"security":[{"JWT":[]}]}},"/document/changesByCreator/{creatorId}":{"get":{"tags":["Документы"],"summary":"Получить документы измененные пользователем","operationId":"findDocChangesByUserId","parameters":[{"name":"creatorId","in":"path","description":"ID создателя документа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentChangesDto"}}}}}},"security":[{"JWT":[]}]}},"/auth/info":{"get":{"tags":["Авторизация"],"summary":"Получить информацию о пользователе по токену авторизации","operationId":"getUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"JWT":[]}]}},"/admin/users/phone/{phone}":{"get":{"tags":["Пользователи"],"summary":"Получить пользователя по номеру телефона","operationId":"getUserByPhone","parameters":[{"name":"phone","in":"path","description":"Телефон пользователя","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserReplyDto"}}}}},"security":[{"JWT":[]}]}},"/admin/users/passport/{passport}":{"get":{"tags":["Пользователи"],"summary":"Получить пользователя по паспорту","operationId":"getUserByPassport","parameters":[{"name":"passport","in":"path","description":"Паспорт пользователя","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserReplyDto"}}}}},"security":[{"JWT":[]}]}},"/admin/users/ids":{"get":{"tags":["Пользователи"],"summary":"Получить всех пользователей с сортировкой и пагинацией","operationId":"getUsers","parameters":[{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"sort","in":"query","description":"Сортировка","required":false,"schema":{"type":"string","default":""}},{"name":"from","in":"query","description":"Номер страницы","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Количество элементов на странице","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserReplyDto"}}}}}},"security":[{"JWT":[]}]}},"/admin/users/email/{email}":{"get":{"tags":["Пользователи"],"summary":"Получить пользователя по eMail","operationId":"getUserByEmail","parameters":[{"name":"email","in":"path","description":"eMail пользователя","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserReplyDto"}}}}},"security":[{"JWT":[]}]}}},"components":{"schemas":{"DocAttributeDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID атрибута","format":"int64"},"name":{"type":"string","description":"Наименование атрибута"},"type":{"type":"string","description":"Тип атрибута"}},"description":"Атрибут документа"},"DocTypeDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID типа документа","format":"int64"},"name":{"type":"string","description":"Наименование типа"},"attributes":{"type":"array","description":"Аттрибуты привязанные к типу","items":{"$ref":"#/components/schemas/DocAttributeDto"}},"agreementType":{"type":"string","description":"Для согласования документа требуется: EVERYONE - все получатели, ANYONE - хотя бы один, QUORUM - не менее 50% получателей."}},"description":"Тип документа"},"OrgCreateRequestDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string","description":"Название"},"inn":{"pattern":"\\d{10}","type":"string","description":"ИНН"}},"description":"DTO создания организации"},"OrgDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID организации","format":"int64"},"name":{"type":"string","description":"Название"},"inn":{"type":"string","description":"ИНН"}},"description":"Данные об организации"},"DocProcessDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID процесса","format":"int64"},"document":{"type":"integer","description":"Документ","format":"int64"},"sender":{"type":"integer","description":"Отправитель","format":"int64"},"recipient":{"type":"integer","description":"Получатель","format":"int64"},"status":{"type":"string","description":"Статус"},"comment":{"type":"string","description":"Комментарий"}},"description":"Процесс изменения документа"},"DocTypeCreateDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string","description":"Название типа"},"agreementType":{"type":"string","description":"Тип согласования"}},"description":"DTO создания типа"},"DocAttributeCreateDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string","description":"Название атрибута"},"type":{"maxLength":255,"minLength":1,"type":"string","description":"Тип атрибута"}},"description":"DTO создания атрибута"},"DocAttributeValueCreateDto":{"required":["attributeId","value"],"type":"object","properties":{"attributeId":{"type":"integer","description":"ID атрибута","format":"int64"},"value":{"type":"string","description":"Значение"}},"description":"Список атрибутов"},"DocumentCreateDto":{"required":["docAttributeValueCreateDtos","docTypId","idOrganization"],"type":"object","properties":{"idOrganization":{"type":"integer","description":"ID организации","format":"int64"},"docTypId":{"type":"integer","description":"Тип документа","format":"int64"},"docAttributeValueCreateDtos":{"type":"array","description":"Список атрибутов","items":{"$ref":"#/components/schemas/DocAttributeValueCreateDto"}}},"description":"DTO создания объекта"},"DocAttribute":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"type":{"type":"string"}}},"DocAttributeValues":{"type":"object","properties":{"valueId":{"type":"integer","format":"int64"},"value":{"type":"string"},"attribute":{"$ref":"#/components/schemas/DocAttribute"}},"description":"Список атрибутов"},"DocumentDto":{"required":["attributeValues","date","docTypeName","documentPath","idOrganization","name"],"type":"object","properties":{"ID документа":{"type":"integer","format":"int64"},"name":{"type":"string","description":"Название"},"documentPath":{"type":"string","description":"Путь документа"},"date":{"type":"string","description":"Дата последнего обновления","format":"date-time"},"idOrganization":{"type":"integer","description":"ID организации","format":"int64"},"ownerId":{"type":"integer","description":"ID создателя","format":"int64"},"docTypeName":{"type":"string","description":"Тип документа"},"attributeValues":{"type":"array","description":"Список атрибутов","items":{"$ref":"#/components/schemas/DocAttributeValues"}},"finalDocStatus":{"type":"string","description":"Статус"}},"description":"Документ"},"UserCredentialsDto":{"type":"object","properties":{"email":{"type":"string","description":"Email"},"password":{"type":"string","description":"Пароль"}},"description":"DTO Учетных данных пользователя"},"UserCreateDto":{"required":["dateOfBirth","email","firstName","lastName","organizationId","passportDate","passportIssued","passportKp","passportNumber","passportSeries","phone","post","role"],"type":"object","properties":{"id":{"type":"integer","description":"ID пользователя","format":"int64"},"lastName":{"maxLength":100,"minLength":2,"type":"string","description":"Фамилия"},"firstName":{"maxLength":100,"minLength":2,"type":"string","description":"Имя"},"patronymic":{"maxLength":100,"minLength":2,"type":"string","description":"Отчество"},"dateOfBirth":{"maxLength":10,"minLength":10,"type":"string","description":"Дата рождения"},"email":{"maxLength":320,"minLength":6,"type":"string","description":"Email"},"phone":{"maxLength":11,"minLength":11,"type":"string","description":"Номер телефона"},"passportSeries":{"maxLength":4,"minLength":4,"type":"string","description":"Серия паспорта"},"passportNumber":{"maxLength":6,"minLength":6,"type":"string","description":"Номер паспорта"},"passportIssued":{"maxLength":1000,"minLength":2,"type":"string","description":"Кем выдан паспорт"},"passportDate":{"maxLength":10,"minLength":10,"type":"string","description":"Дата выдачи паспорта"},"passportKp":{"maxLength":6,"minLength":6,"type":"string","description":"Код подразделения"},"organizationId":{"type":"integer","description":"ID организации","format":"int64"},"role":{"type":"string","description":"Роль пользователя"},"post":{"maxLength":320,"minLength":1,"type":"string","description":"Описание пользователя"}},"description":"DTO создания пользователя"},"UserPassportDto":{"type":"object","properties":{"passportSeries":{"maxLength":4,"minLength":4,"type":"string","description":"Серия паспорта"},"passportNumber":{"maxLength":6,"minLength":6,"type":"string","description":"Номер паспорта"},"passportIssued":{"maxLength":1000,"minLength":2,"type":"string","description":"Кем выдан паспорт"},"passportDate":{"maxLength":10,"minLength":10,"type":"string","description":"Дата выдачи паспорта"},"passportKp":{"maxLength":6,"minLength":6,"type":"string","description":"Код подразделения"}},"description":"Паспорт пользователя"},"UserReplyDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID пользователя","format":"int64"},"fullName":{"type":"string","description":"ФИО"},"dateOfBirth":{"type":"string","description":"Дата рождения"},"email":{"type":"string","description":"Email"},"phone":{"type":"string","description":"Телефон"},"post":{"type":"string","description":"Описание"},"role":{"type":"string","description":"Роль"},"userPassportDto":{"$ref":"#/components/schemas/UserPassportDto"},"orgDto":{"$ref":"#/components/schemas/OrgDto"}},"description":"Ответ на получение пользователя"},"OrgUpdateRequestDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string","description":"Название"}},"description":"Запрос на обновление организации"},"DocTypeUpdateRequestDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string","description":"Название типа"}},"description":"DTO изменения типа"},"DocAttributeUpdateRequestDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string","description":"Название атрибута"},"type":{"maxLength":255,"minLength":1,"type":"string","description":"Тип атрибута"}},"description":"DTO изменения типа"},"DocumentUpdateDto":{"type":"object","properties":{"name":{"type":"string","description":"Название"},"documentPath":{"type":"string","description":"Путь документа"},"date":{"type":"string","description":"Дата обновления","format":"date-time"},"docTypeId":{"type":"integer","description":"ID типа","format":"int64"},"previousVersion":{"type":"string","description":"Предыдущая версия"},"attributeValues":{"type":"array","description":"Список атрибутов","items":{"$ref":"#/components/schemas/DocAttributeValueCreateDto"}}},"description":"DTO изменения документа"},"UserUpdateDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID пользователя","format":"int64"},"lastName":{"maxLength":100,"minLength":2,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Фамилия"},"firstName":{"maxLength":100,"minLength":2,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Имя"},"patronymic":{"maxLength":100,"minLength":2,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Отчество"},"dateOfBirth":{"maxLength":10,"minLength":10,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Дата рождения"},"email":{"maxLength":320,"minLength":6,"type":"string","description":"Email"},"phone":{"maxLength":11,"minLength":11,"pattern":"\\d+","type":"string","description":"Номер телефона"},"passportSeries":{"maxLength":4,"minLength":4,"pattern":"\\d+","type":"string","description":"Серия паспорта"},"passportNumber":{"maxLength":6,"minLength":6,"pattern":"\\d+","type":"string","description":"Номер паспорта"},"passportIssued":{"maxLength":1000,"minLength":2,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Кем выдан паспорт"},"passportDate":{"maxLength":10,"minLength":10,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Дата выдачи паспорта"},"passportKp":{"maxLength":6,"minLength":6,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Код подразделения"},"organizationId":{"type":"integer","description":"ID организации","format":"int64"},"role":{"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Роль пользователя"},"post":{"maxLength":320,"minLength":1,"pattern":"\\A(?!\\s*\\Z).+","type":"string","description":"Описание пользователя"}},"description":"DTO изменения пользователя"},"CountUsersDto":{"type":"object","properties":{"countUser":{"type":"integer","description":"Количество пользователей","format":"int32"}},"description":"Кол-во пользователей"},"UserRatingDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID пользователя","format":"int64"},"lastName":{"type":"string","description":"Фамилия"},"firstName":{"type":"string","description":"Имя"},"email":{"type":"string","description":"Email"},"createdDocuments":{"type":"integer","description":"Количество созданных документов","format":"int64"}},"description":"Рейтинг пользователя"},"CountOrgDto":{"type":"object","properties":{"countOrganization":{"type":"integer","description":"Количество организаций","format":"int32"}},"description":"Кол-во организаций"},"DocStatisticDTO":{"type":"object","properties":{"count":{"type":"integer","description":"Количество","format":"int64"}},"description":"Статистика по документам"},"DocumentChangesDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID изменения","format":"int64"},"documentId":{"type":"integer","description":"ID документа","format":"int64"},"dateChange":{"type":"string","description":"Дата изменения","format":"date"},"changes":{"type":"string","description":"Изменения"},"previousVersion":{"type":"string","description":"Предыдущая версия"},"userChangerId":{"type":"integer","description":"ID автора изменения","format":"int64"}},"description":"Изменения в документе"}},"securitySchemes":{"JWT":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}