

.inputBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.button{
    
    padding-left: 60px !important;
    padding-right: 60px !important;
}
