.paper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 720px;
}

.dialogTitle {
  align-self: stretch;

  color: var(--text-primary, rgba(0, 0, 0, 0.87));
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* typography/h6 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.15px;
}

.inputGroup {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.documentNameInput {
  display: flex;
  height: 56px;
  flex-direction: column;
  align-items: stretch;
  width: 38%;
}

.documentTypeSelect {
  display: flex;
  padding: var(--none, 0px) 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--none, 0px);
  width: 100%;
}
